.club-resort-banner {
	background-image: url(../images/club-resort-hotel-software-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}

/* from live */
.blog-section{	
	margin-bottom:20px;
}
.blog-section p {
	color: inherit;
	font-size: 17px;
	line-height:1.6;
	text-align: justify;
	margin-bottom:2rem;	
}

.content-area .post-thumbnail{
	display: none;
}
.read{
	display:block;
	background-color:#d4edda;
}

/* from live */

.post-info {
	margin: 0;
	padding: 0;
	list-style: none;
}
.post-info li {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Poppins';
	position: relative;
	font-weight: 500;
}
.post-info li + li {
	margin-left: 25px;
}
.post-info li a {
	color: #fff;
	font-size: 16px;
	line-height: normal;
	font-family: 'Poppins';
	font-weight: normal;	
}
.post-info li a:hover, .post-info li a:focus {
	color: #E44600;
}
.custom-search-blog-icon {
	background-position: -248px -162px;
	height: 20px;        
    width: 20px;
}

.blog-search .search-form {
    position: relative;
    width: 100%;    
}
.blog-search .search-form .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    background: #fbfbfd;
    border: 1px solid #eef0fd;
    border-radius: 5px;
    padding: 8px 50px 8px 20px;
    color: #273C63;
    height: 52px;
}

.blog-search .search-form .search-btn {
    position: absolute;
    right: 15px;
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.blog-search .search-form .search-btn button {
    background-color: transparent;
    border: none;
    outline: none;    
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.cat-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cat-list li {
	margin-bottom: 10px;
}

.blog-tags a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 4px 25px;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Poppins';
    color: #707B8E;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 18px;
    background: #f0f2f9;
}
.blog-tags a:hover {
    background: #E58309;
    color: #fff;
}
.latest-blog .media img {
	border-radius: 4px;
	width: 90px;
	height: 90px;
	display: inline-block;
} 
.blog-thumb {
	display: inline-block;
	position: relative;
}
.blog-thumb:before  {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2C397A;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 6px;
}
.blog-thumb:hover:before {
    opacity: 0.2;
}
.latest-blog-title {
	font-weight: normal;
	line-height: 1.5;
}

.newsletter-form .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    background: #fbfbfd;
    border: 1px solid #eef0fd;
    border-radius: 5px 0 0 5px;
    padding: 10px 20px;
    color: #273C63;
    height: 52px;
}
.newsletter-form .blog-btn {
	font-size: 18px;
    font-weight: 400;
    font-family: inherit;
	border-radius: 0 .3rem .3rem 0;
}
.newsletter-form .blog-btn:before {
	border-radius: 0 .3rem .3rem 0;
}
/* blog list */
.blog-item {
    position: relative;
    margin-bottom: 2rem;
	padding-bottom:30px; 
	border-bottom: 1px solid #dddddd;
	
}

.blog-list-img {
    margin-bottom: 20px;
    display: inline-block;
	position: relative;
}
.blog-list-img a:before  {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2C397A;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 6px;
}
.blog-list-img a:hover:before {
    opacity: 0.2;
}
.blog-list-title {
	color:#273C63; 
	display: inline-block;
	margin-bottom: 10px;
}
.blog-list-title:hover, .blog-list-title:focus {
	color: #E58309;
}
.blog-list-info {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}
.blog-list-info li {
	display: inline-block;
	color: #707B8E;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Poppins';
	position: relative;
	font-weight: 500;
}
.blog-list-info li + li {
	margin-left: 25px;
}
.blog-list-info li a {
	color: #707B8E;
	font-size: 16px;
	line-height: normal;
	font-family: 'Poppins';
	font-weight: normal;	
}
.blog-list-info li a:hover, .blog-list-info li a:focus {
	color: #E44600;
}
.page-item.active .page-link {
	background-color: #F29016;
	border-color: #F29016;
}
.page-link {   
    color: #F29016;   
}
.page-link:hover {    
    color: #ffffff;    
    background-color: #F29016;
    border-color: #F29016;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .blog-list-img .img-fluid {
        width: 100%;		
    }	
}
@media (min-width:992px) {
	.blog-pr {
		padding-right: 50px;
	}
	.pop-mtb {
		margin: 100px 0 160px;
	}
}
@media (max-width:991px) {
	.pop-mtb {
		margin: 25px 0 52px;
	}	
}

.blog-free-trial-box {
	border: 1px solid #dddddd;
	padding:25px 15px;
	text-align: center;
	border-radius: 5px;
}

.blog-list-img > a {
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
}
.blog-section img {
	 -moz-border-radius:6px; 
    -webkit-border-radius: 6px;
    border-radius: 6px;

}







