.case-studies-banner {
	background-image: url(../images/case-studies-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}
.club-resort-banner {
	background-image: url(../images/club-resort-hotel-software-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}
