


.card-header.faq-header {
	background-color: #ffffff !important;
	padding: .5rem !important;
}
.card-header.faq-header .btn-link, .card-header.faq-header .btn-link:focus {
	font-size: 18px;
	text-decoration: none;
	color: #E58309;	
	display: block;
	text-align: left;
}
.card-header.faq-header .btn-link:hover  {
	font-size: 18px;
	text-decoration: none;
	color: #1F63F8;	
}
.faq-header .btn-link:after {
    float: right; 
	content: "−";
	font-size: 26px;
	line-height: 26px;
	
}
.faq-header .btn-link.collapsed:after {
	content: "+";
	font-size: 26px;
	line-height: 26px;
}


.faq-banner {
	background-image: url(../images/faq-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}
