
@media (max-width:414px) {
	/* shapes */
.top-right-square {
	background-color: #ECEFFD;
	border-radius: 0 0 34px 34px;
	position: absolute;
	left: auto;
	right: 5%;
	z-index: -1;
	top: 0;
	width: 281px;
	height: 284px;
	opacity: 0.09;
}
.top-left-dots {
    background-image: url(../images/dots-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 34%;
    right: auto;
    z-index: -1;
    top: 54px;
    width: 190px;
    height: 190px;  
}

.bottom-right-round-square {
    background-color: #ECEFFD;
    border-radius: 90px 0 0 90px;
    position: absolute;
    left: auto;
    right: -7%;
    z-index: -1;
    top: auto;
    bottom: 70px;
    width: 180px;
    height: 90px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-1 {
    background-color:#ECEFFD;
    border-radius:0 90px 90px 0;
    position: absolute;
    right: auto;
    left: -9%;
    z-index: -1;
    top: auto;
    bottom: 80px;
    width: 180px;
    height: 90px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-2 {
    background-color:#ECEFFD;
    border-radius: 0 90px 90px 0;
    position: absolute;
    right: auto;
    left: -5%;
    z-index: -1;
    top: auto;
    bottom: -5px;
    width: 270px;
    height: 90px;
    opacity: 0.09;
    transform: rotate(-22deg);    
}

/* shapes */
  .mobile-bg {
	background-image: url(../images/mobile-bg.png);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto;
	  padding: 72px 0;
	}
	.membroz-form .form-group .form-control {
		background-color:#fbfbfd;
		border-radius: 5px;
		border: 1px solid #eef0fd;
		color:#273C63;
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		height: 42px;
		padding: 5px 15px 5px 10px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		font-family: inherit;
	}
	.membroz-form .btn-lg {
       padding: 0.38571429em 0.7em 0.38571429em;
	   font-size: 16px;	
		
	}
	.membroz-form .form-group {
    	margin-bottom: .5rem;
	}
	.mobile-bg.membroz-form h4 {
		font-size: 16px;
	}
}
@media (min-width:415px) and (max-width:767px) {
	/* shapes */
.top-right-square {
	background-color: #ECEFFD;
	border-radius: 0 0 34px 34px;
	position: absolute;
	left: auto;
	right: 5%;
	z-index: -1;
	top: 0;
	width: 281px;
	height: 284px;
	opacity: 0.09;
}
.top-left-dots {
    background-image: url(../images/dots-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 43%;
    right: auto;
    z-index: -1;
    top: 54px;
    width: 190px;
    height: 190px;  
}

.bottom-right-round-square {
    background-color: #ECEFFD;
    border-radius: 90px 0 0 90px;
    position: absolute;
    left: auto;
    right: -7%;
    z-index: -1;
    top: auto;
    bottom: 70px;
    width: 270px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-1 {
    background-color:#ECEFFD;
    border-radius:0 90px 90px 0;
    position: absolute;
    right: auto;
    left: -9%;
    z-index: -1;
    top: auto;
    bottom: 110px;
    width: 270px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-2 {
    background-color:#ECEFFD;
    border-radius: 0 90px 90px 0;
    position: absolute;
    right: auto;
    left: 0%;
    z-index: -1;
    top: auto;
    bottom: -15px;
    width: 310px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);    
}

/* shapes */
	.mobile-bg {
	background-image: url(../images/mobile-bg.png);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 805px;
	
	}
	.membroz-form .form-group .form-control {
		background-color:#fbfbfd;
		border-radius: 5px;
		border: 1px solid #eef0fd;
		color:#273C63;
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		height: 42px;
		padding: 5px 15px 5px 10px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		font-family: inherit;
	}
	.membroz-form .btn-lg {
       padding: 0.38571429em 0.7em 0.38571429em;
	   font-size: 16px;	
		
	}
	.membroz-form .form-group {
    	margin-bottom: .5rem;
	}
	.mobile-bg.membroz-form h4 {
		font-size: 16px;
	}
}


@media (min-width:768px) and (max-width:991px) {
	/* shapes */
.top-right-square {
	background-color: #ECEFFD;
	border-radius: 0 0 34px 34px;
	position: absolute;
	left: auto;
	right: 5%;
	z-index: -1;
	top: 0;
	width: 281px;
	height: 284px;
	opacity: 0.09;
}
.top-left-dots {
    background-image: url(../images/dots-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 43%;
    right: auto;
    z-index: -1;
    top: 54px;
    width: 190px;
    height: 190px;  
}

.bottom-right-round-square {
    background-color: #ECEFFD;
    border-radius: 90px 0 0 90px;
    position: absolute;
    left: auto;
    right: -4%;
    z-index: -1;
    top: auto;
    bottom: 70px;
    width: 340px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-1 {
    background-color:#ECEFFD;
    border-radius:0 90px 90px 0;
    position: absolute;
    right: auto;
    left: -7%;
    z-index: -1;
    top: auto;
    bottom: 110px;
    width: 340px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-2 {
    background-color:#ECEFFD;
    border-radius: 0 90px 90px 0;
    position: absolute;
    right: auto;
    left: 0%;
    z-index: -1;
    top: auto;
    bottom: -15px;
    width: 400px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);    
}

/* shapes */
  .mobile-bg {
	background-image: url(../images/mobile-bg.png);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 585px;
	}	
	.membroz-form .form-group .form-control {
		background-color:#fbfbfd;
		border-radius: 5px;
		border: 1px solid #eef0fd;
		color:#273C63;
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		height: 36px;
		padding: 2px 15px 2px 10px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		font-family: inherit;
	}
	.membroz-form .btn-lg {
       padding: 0.38571429em 0.7em 0.38571429em;
	   font-size: 16px;	
		
	}
	.membroz-form .form-group {
    	margin-bottom: .5rem;
	}
}
@media (min-width:992px) and (max-width:1199px)  {
	/* shapes */
.top-right-square {
	background-color: #ECEFFD;
	border-radius: 0 0 34px 34px;
	position: absolute;
	left: auto;
	right: 5%;
	z-index: -1;
	top: 0;
	width: 281px;
	height: 284px;
	opacity: 0.09;
}
.top-left-dots {
    background-image: url(../images/dots-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 61%;
    right: auto;
    z-index: -1;
    top: 90px;
    width: 190px;
    height: 190px;  
}

.bottom-right-round-square {
    background-color: #ECEFFD;
    border-radius: 90px 0 0 90px;
    position: absolute;
    left: auto;
    right: -4%;
    z-index: -1;
    top: auto;
    bottom: 90px;
    width: 430px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-1 {
    background-color:#ECEFFD;
    border-radius:0 90px 90px 0;
    position: absolute;
    right: auto;
    left: -7%;
    z-index: -1;
    top: auto;
    bottom: 90px;
    width: 430px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-2 {
    background-color:#ECEFFD;
    border-radius: 0 90px 90px 0;
    position: absolute;
    right: auto;
    left: 0%;
    z-index: -1;
    top: auto;
    bottom: -15px;
    width: 540px;
    height: 130px;
    opacity: 0.09;
    transform: rotate(-22deg);    
}

/* shapes */
  .mobile-bg {
	background-image: url(../images/mobile-bg.png);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 790px;
	  
	}
	.membroz-form .form-group .form-control {
		background-color:#fbfbfd;
		border-radius: 5px;
		border: 1px solid #eef0fd;
		color:#273C63;
		font-size: 18px;
		font-weight: normal;
		line-height: 30px;
		height: 52px;
		padding: 10px 30px 10px 20px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		font-family: inherit;
	}
}
@media (min-width:1200px) {
	/* shapes */
.top-right-square {
	background-color: #ECEFFD;
	border-radius: 0 0 34px 34px;
	position: absolute;
	left: auto;
	right: 22%;
	z-index: -1;
	top: 0;
	width: 281px;
	height: 284px;
	opacity: 0.09;
}
.top-left-dots {
    background-image: url(../images/dots-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 61%;
    right: auto;
    z-index: -1;
    top: 110px;
    width: 190px;
    height: 190px;  
}

.bottom-right-round-square {
    background-color: #ECEFFD;
    border-radius: 90px 0 0 90px;
    position: absolute;
    left: auto;
    right: -4%;
    z-index: -1;
    top: auto;
    bottom: 90px;
    width: 540px;
    height: 180px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-1 {
    background-color:#ECEFFD;
    border-radius:0 90px 90px 0;
    position: absolute;
    right: auto;
    left: -7%;
    z-index: -1;
    top: auto;
    bottom: 90px;
    width: 540px;
    height: 180px;
    opacity: 0.09;
    transform: rotate(-22deg);
}
.bottom-left-round-square-2 {
    background-color:#ECEFFD;
    border-radius: 0 90px 90px 0;
    position: absolute;
    right: auto;
    left: 0%;
    z-index: -1;
    top: auto;
    bottom: -62px;
    width: 612px;
    height: 180px;
    opacity: 0.09;
    transform: rotate(-22deg);    
}

/* shapes */
	.mobile-bg {
	background-image: url(../images/mobile-bg.png);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 805px;
	  
	}
	.membroz-form .form-group .form-control {
		background-color:#fbfbfd;
		border-radius: 5px;
		border: 1px solid #eef0fd;
		color:#273C63;
		font-size: 18px;
		font-weight: normal;
		line-height: 30px;
		height: 52px;
		padding: 10px 30px 10px 20px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		font-family: inherit;
	}
 
}


.landing-main {
	background-color: #2F408F;	
	padding: 15px 0 20px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	
}
.landing-head {	
	line-height: 1.4;
	color: #ffffff;
}
.landing-intro {
	font-family: 'Poppins';	
	font-weight: normal;
	font-size: 22px;
	color: #ffffff;
	line-height: 1.6;
}
.landing-intro-gray {
	font-family: 'Poppins';	
	font-weight: normal;
	font-size: 22px;
	color: #707B8E;
	line-height: 1.6;
}

/* form  */

.membroz-form .form-group textarea.form-control {
	height: auto !important;
}
.membroz-form select.form-control.is-valid, .membroz-form .was-validated select.form-control:valid {
	background-position: right calc(.375em + 1.25rem) center;
}
.membroz-form .form-group .form-control:focus {
    background:#fff;
	-webkit-box-shadow: 0px 15px 30px 0px rgba(8, 22, 113, 0.06);
	box-shadow: 0px 15px 30px 0px rgba(8, 22, 113, 0.06);
}
.red-color-text {
	color: #F3354B;
}

/* form  */

.light-blue-block {
	background-color: #F5F7FB;
}
.footer-main-lading {
	background-color: #2F408F;
	color: #ffffff;
	padding: 20px 0;
}
.card-header.faq-header {
	background-color: #ffffff !important;
	padding: .5rem !important;
}
.card-header.faq-header .btn-link, .card-header.faq-header .btn-link:focus {
	font-size: 18px;
	text-decoration: none;
	color: #E58309;	
	display: block;
	text-align: left;
}
.card-header.faq-header .btn-link:hover  {
	font-size: 18px;
	text-decoration: none;
	color: #1F63F8;	
}
.faq-header .btn-link:after {
    float: right; 
	content: "−";
	font-size: 26px;
	line-height: 26px;
	
}
.faq-header .btn-link.collapsed:after {
	content: "+";
	font-size: 26px;
	line-height: 26px;
}
.width-70 {
	width: 70px;
}
.carousel-control-prev, .carousel-control-next {
    opacity: 1 !important;
	width:auto !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F29015' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
	background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23F29015' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #007bff;
} 
.font13 {
	font-size: 13px;
	margin-top: 5px;
}
.landing-box {
	flex-grow: 1;
	background: #ffffff;
	 border-radius: .25rem;
  -webkit-box-shadow: 0px 40px 80px 0px rgba(8, 22, 113, 0.61);
          box-shadow: 0px 40px 80px 0px rgba(8, 22, 113, 0.61);
	margin-bottom: 30px;
}
.min-height-500 {
	min-height: 500px;
}
.membroz-form span.wpcf7-list-item {
    display: unset;
    margin: 0;
}