/* businesses icons */
/*Club, Resort & Hotel*/
.custom-club-solutions-icon {
	background-position: 0 -420px;
	height: 64px;        
    width: 64px;
}
.custom-hotel-solutions-icon {
	background-position: -64px -420px;
	height: 64px;        
    width: 64px;
}
.custom-resort-solutions-icon {
	background-position: -128px -420px;
	height: 64px;        
    width: 64px;
}
.custom-sportsclub-solutions-icon {
	background-position: -192px -420px;
	height: 64px;        
    width: 64px;
}
.custom-themepark-solutions-icon {
	background-position: -256px -420px;
	height: 64px;        
    width: 64px;
}
.custom-amusementpark-solutions-icon {
	background-position: 0 -484px;
	height: 64px;        
    width: 64px;
}
.custom-waterpark-solutions-icon {
	background-position: -64px -484px;
	height: 64px;        
    width: 64px;
}
/*Club, Resort & Hotel*/
/*Tour, Travel & Timeshare Software*/
.custom-airplanetimeshare-solutions-icon {
	background-position: -128px -484px;
	height: 64px;        
    width: 64px;
}
.custom-farmhouse-solutions-icon {
	background-position: -192px -484px;
	height: 64px;        
    width: 64px;
}
.custom-villas-solutions-icon {
	background-position: -256px -484px;
	height: 64px;        
    width: 64px;
}
.custom-tourtravel-solutions-icon {
	background-position: 0 -548px;
	height: 64px;        
    width: 64px;
}
/*Tour, Travel & Timeshare Software*/
/*Gym, Yogastudio & Fitness Center*/
.custom-gym-solutions-icon {
	background-position: -64px -548px;
	height: 64px;        
    width: 64px;
}
.custom-fitnessstudio-solutions-icon {
	background-position:-128px -548px;
	height: 64px;        
    width: 64px;
}
.custom-yogastudio-solutions-icon {
	background-position: -192px -548px;
	height: 64px;        
    width: 64px;
}
.custom-zumbacenter-solutions-icon {
	background-position: -256px -548px;
	height: 64px;        
    width: 64px;
}
.custom-dancestudio-solutions-icon {
	background-position: 0 -612px;
	height: 64px;        
    width: 64px;
}
.custom-aerobicsstudio-solutions-icon {
	background-position: -64px -612px;
	height: 64px;        
    width: 64px;
}
.custom-pilates-solutions-icon {
	background-position: -128px -612px;
	height: 64px;        
    width: 64px;
}
/*Gym, Yogastudio & Fitness Center*/
/*Spa, Salon & Wellness Center*/
.custom-beautyparlour-solutions-icon {
	background-position: -192px -612px;
	height: 64px;        
    width: 64px;
}
.custom-hairsalon-solutions-icon {
	background-position: -256px -612px;
	height: 64px;        
    width: 64px;
}
.custom-nailsalon-solutions-icon {
	background-position: 0 -676px;
	height: 64px;        
    width: 64px;
}
.custom-tanningsalon-solutions-icon {
	background-position: -64px  -676px;
	height: 64px;        
    width: 64px;
}
.custom-dayspa-solutions-icon {
	background-position: -128px -676px;
	height: 64px;        
    width: 64px;
}
.custom-medicalspa-solutions-icon {
	background-position: -192px -676px;
	height: 64px;        
    width: 64px;
}
.custom-massagecenters-solutions-icon {
	background-position: -256px -676px;
	height: 64px;        
    width: 64px;
}

/*Spa, Salon & Wellness Center*/
/*Restaurant, Pubs & Bar*/
.custom-restaurants-solutions-icon {
	background-position: 0 -740px;
	height: 64px;        
    width: 64px;
}
.custom-bars-solutions-icon {
	background-position: -64px -740px;
	height: 64px;        
    width: 64px;
}
.custom-cafe-solutions-icon {
	background-position: -128px -740px;
	height: 64px;        
    width: 64px;
}
.custom-bistro-solutions-icon {
	background-position: -192px -740px;
	height: 64px;        
    width: 64px;
}
.custom-fastfood-solutions-icon {
	background-position: -256px -740px;
	height: 64px;        
    width: 64px;
}
.custom-canteens-solutions-icon {
	background-position: 0 -804px;
	height: 64px;        
    width: 64px;
}
/*Restaurant, Pubs & Bar*/
/*Dietician & Nutritionist*/
.custom-dietician-solutions-icon {
	background-position: -64px -804px;
	height: 64px;        
    width: 64px;
}
.custom-nutritionist-solutions-icon {
	background-position: -128px -804px;
	height: 64px;        
    width: 64px;
}
.custom-healthconsultant-solutions-icon {
	background-position: -192px -804px;
	height: 64px;        
    width: 64px;
}
.custom-diabetologist-solutions-icon {
	background-position: -256px -804px;
	height: 64px;        
    width: 64px;
}
.custom-dermatologist-solutions-icon {
	background-position: 0 -868px;
	height: 64px;        
    width: 64px;
}
.custom-dentist-solutions-icon {
	background-position: -64px -868px;
	height: 64px;        
    width: 64px;
}
.custom-hairspecialist-solutions-icon {
	background-position: -128px -868px;
	height: 64px;        
    width: 64px;
}
/*Dietician & Nutritionist*/
/*Community, Association & Society*/
.custom-associations-solutions-icon {
	background-position: -192px -868px;
	height: 64px;        
    width: 64px;
}
.custom-community-solutions-icon {
	background-position: -256px -868px;
	height: 64px;        
    width: 64px;
}
.custom-church-solutions-icon {
	background-position: 0 -932px;
	height: 64px;        
    width: 64px;
}
.custom-temple-solutions-icon {
	background-position:  -64px -932px;
	height: 64px;        
    width: 64px;
}
.custom-housingsociety-solutions-icon {
	background-position: -128px -932px;
	height: 64px;        
    width: 64px;
}
.custom-mall-solutions-icon {
	background-position: -192px -932px;
	height: 64px;        
    width: 64px;
}
.custom-businesscomplex-solutions-icon {
	background-position: -256px -932px;
	height: 64px;        
    width: 64px;
}

/*Community, Association & Society*/

/* businesses icons */

.row.product-use, .product-use .row {
	margin-right: -5px;
	margin-left: -5px;
}
.product-use [class^="col-"], .product-use [class*=" col-"] {
	padding-right: 5px;
	padding-left: 5px;
}


.club-resort-banner {
	background-image: url(../images/club-resort-hotel-software-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}

.solution-icon {
	text-align: center;
	padding: .7rem 0 .7rem;
}
.solution-icon-caption {
	text-align: center;
	padding: 0 .5rem .7rem;
}
.solution-icon-caption h3 {
	font-family: 'Poppins';	
	font-weight: bold;
	font-size: 15px;
	color: #273C63;	
	line-height: 1.58571429em;	
	margin-bottom: 0;
}
.businesses-head {
	margin-bottom: 30px;
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {	
	
}

@media only screen and (min-width: 1200px) {
	.product-use  .businesses-head.white-box {
		margin-bottom: 0;
		min-height: 146px;
	}
	
}








/*
.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
*/
