.club-resort-banner {
	background-image: url(../images/club-resort-hotel-software-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}

/* from live */
.custom-search-blog-icon {
	background-position: -248px -162px;
	height: 20px;        
    width: 20px;
}

.search-form {
    position: relative;
    width: 100%;    
}
.search-form .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    background: #fbfbfd;
    border: 1px solid #eef0fd;
    border-radius: 5px;
    padding: 8px 50px 8px 20px;
    color: #273C63;
    height: 52px;
}

.search-form .search-btn {
    position: absolute;
    right: 15px;
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.search-form .search-btn button {
    background-color: transparent;
    border: none;
    outline: none;    
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* form */
.membroz-form .form-group .form-control, .membroz-form .form-group .custom-file-label {
    background-color:#fbfbfd;
	border-radius: 5px;
	border: 1px solid #eef0fd;
	color:#273C63;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    height: 52px;
    padding: 10px 30px 10px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: inherit;
}
.membroz-form .form-group textarea.form-control {
	height: auto !important;
}
.membroz-form select.form-control.is-valid, .membroz-form .was-validated select.form-control:valid {
	background-position: right calc(.375em + 1.25rem) center;
}
.membroz-form .form-group .form-control:focus {
    background:#fff;
	-webkit-box-shadow: 0px 15px 30px 0px rgba(8, 22, 113, 0.06);
	box-shadow: 0px 15px 30px 0px rgba(8, 22, 113, 0.06);
}
.red-color-text {
	color: #F3354B;
}
.custom-file, .custom-file-input, .custom-file-label {
	background-image: none;
}

.membroz-form.create-ticket .form-group, .membroz-form.create-ticket .form-group .custom-file-label {
	margin-bottom: 25px;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  line-height: 30px;
  height: 50px;
  padding: 10px 30px 10px 20px;
  color: #ffffff;
  content: "Browse";
  background-color: #F29016;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}
/* form */
/* support new */
@media only screen and (max-width: 767px) {
	.inner-banner{
		padding: 140px 0 30px;
		position: relative;
		color: #ffffff;	
	}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {	
	.inner-banner{
		padding: 130px 0 40px;
		position: relative;
		color: #ffffff;	
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {	
	.inner-banner{
		padding: 130px 0 40px;
		position: relative;
		color: #ffffff;	
	}
}

@media only screen and (min-width: 1200px) {
   .inner-banner{
		padding: 130px 0 40px;
		position: relative;
		color: #ffffff;	
	}
}
.figure-caption-support {
	padding: .25rem .9375rem 1.25rem;
}

/* help doc*/
.support-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}
.support-nav > li > a {
    font-family: inherit;	
    font-size: 16px;    
    padding: 5px 0 5px 15px;
    text-decoration: none;
    display: inline-flex;
}
.support-nav > li > a.active {
	color: #2F408F;
	text-decoration: none;
}
.support-nav > li {
    position: relative;
    display: block;
}

.support-accordion .accord-link:before {
    content: ">";
	display: inline-block;
    padding-right: .5rem;
	-ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
	position: relative;
	right: 4px;
	top: 3px;
}
.support-accordion .accord-link.collapsed:before {    
    content: ">";
	 padding-right: .5rem;	 
	-ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	position: relative;
	right: 0;
	top: 0;
}
.support-accordion .accord-link {    
    font-family: inherit;
    font-size: 16px;
    padding: 5px 0 5px 5px;
    width: 100%;    
	text-decoration: none;
	display: block;
}
.support-accordion .card-body{
    padding: 0 0 0 22px;
}

/* search result */
.search-result-link {
	margin-bottom: .5rem;
	display: inline-block;
	text-decoration: none;
}
.search-result-link > h5 {
	color: #E58309;
	margin-bottom: 0;
}
.search-result-link:hover > h5, .search-result-link:focus > h5 {
	text-decoration: none;
	color: #2F408F;
}
.search-result-url {
	color: #707B8E;
	font-size: 14px;
}

.page-item.active .page-link {
	background-color: #F29016;
	border-color: #F29016;
}
.page-link {   
    color: #F29016;   
}
.page-link:hover {    
    color: #ffffff;    
    background-color: #F29016;
    border-color: #F29016;
}
.support-accordion .accord-link:active:focus, .support-accordion .accord-link:focus, .support-nav > li > a:focus {
    color: #E58309;
}


/* help doc*/

/* support new */

